@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    h3{
        text-align: center;
    }
    h1{
        text-align: center;
    }

    .headings{
        margin-top: 14.5%;
    }

    a{
        color: red;
        text-underline-position: under;
        text-decoration-color: red;
    }
  }